Django
PIL
South
psycopg2
sorl-thumbnail
django-wysiwyg-redactor
-e git+git://github.com/douglasmiranda/django-admin-bootstrap.git#egg=bootstrap_admin
django-tastypie
django-lockdown==dev
django-extensions
django-celery
Scrapy
django-mailer
django-model-report
pisa
reportlab
html5lib
BeautifulSoup
xlwt==0.7.4
