<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{% block title %}Poliwall - coming soon...{% endblock title %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/normalize.css" />
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/foundation.css" />
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/font-awesome.min.css" />
	<!--[if IE 7]>
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/font-awesome-ie7.min.css" />
	<![endif]-->
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/styles.css" />
	{% block extra_css %}{% endblock extra_css %}
	<script src="{{ STATIC_URL|default:'/static/' }}js/vendor/custom.modernizr.js"></script>
	<!-- google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600' rel='stylesheet' type='text/css'>
	{% block extra_head %}{% endblock extra_head %}
</head>
<body>
	<!-- Top bar Nav -->
	{% block top_nav %}
		{% include "includes/top_nav.html" %}
	{% endblock top_nav %}
	<!-- End of Top bar Nav -->

	<!-- Header -->
		{% block header %}
		<header id="header">
	    	<div class="row">
	      		<div class="twelve columns">
	      			{% block header_content %}
		        		<h1>Bienvenido!</h1>
		        		<h4>Estamos trabajando en un gran proyecto!</h4>
	      			{% endblock header_content %}
	      		</div>
	    	</div>
	  	</header>
	{% endblock header %}
	<!-- End of Header -->

	<!-- Main Content -->
	<div class="row">
		<div class="large-12 columns">
			{% block main_content %}{% endblock main_content %}
		</div>
	</div>
	<!-- End of Main Content -->

	<!-- Footer -->
	{% block footer %}
		{% include "includes/footer.html" %}
	{% endblock footer %}
	<!-- End of Footer -->

	<script>
	document.write('<script src=' +('__proto__' in {} ? '{{ STATIC_URL |default:"/static/"}}js/vendor/zepto' : '{{ STATIC_URL |default:"/static/"}}js/vendor/jquery') + '.js><\/script>')
	</script>
  
 	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation.min.js"></script>
  <!--
  
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.js"></script> 
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.alerts.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.clearing.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.cookie.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.dropdown.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.forms.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.joyride.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.magellan.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.orbit.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.placeholder.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.reveal.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.section.js"></script>
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.tooltips.js"></script>
  -->
	<script src="{{ STATIC_URL|default:'/static/' }}js/foundation/foundation.topbar.js"></script>
  
  
  <script>
    $(document).foundation();
  </script>
  {% block extra_js %}{% endblock extra_js %}
</body>
</html>
