{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/animate.min.css" />	
{% endblock extra_head %}
{% block main_content %}
	<br><br>
	<div class="row">
		<div class="large-4 columns">
			<div class="dashboard_item">
				<a href="{% url 'gob_nacional' %}">
		  			<img class="dashboard_item_icon" src="{{ STATIC_URL }}img/flag_uruguay.png" alt='{% trans "Gobierno Nacional" %}' />
		  			<h4>{% trans "Gobierno Nacional" %}</h4>
				</a>
			</div>
		</div>
	</div>
{% endblock main_content %}
