{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/animate.min.css" />
{% endblock extra_head %}

{% block header_content %}
    <h1>{% trans "Poder Legislativo" %}</h1>
{% endblock header_content %}

{% block main_content %}
{% for legislative in legislative_list %}
    <h1><a href="{% url 'legislative_detail' legislative.roman_code %}">{% trans "Legislatura" %} {{ legislative }}</a></h1>
    <div class="row">
        <div class="large-4 columns">
            <a href="{% url 'legislative_politician_list' legislative.roman_code %}">
                <img src="{{ STATIC_URL }}img/politics.png" alt='{% trans "Politicos" %}' />
                <h4>{% trans "Politicos" %}</h4>
            </a>
        </div>
        <div class="large-4 columns">
            <a href="#">
                <img src="{{ STATIC_URL }}img/money.png" alt='{% trans "Remuneraciones" %}' />
                <h4>{% trans "Remuneraciones" %}</h4>
            </a>
        </div>
        <div class="large-4 columns">
          <a href="#">
                <img src="{{ STATIC_URL }}img/stats.png" alt='{% trans "Estadisticas" %}' />
                <h4>{% trans "Estadisticas" %}</h4>
            </a>
        </div>
    </div>
{% endfor %}
{% endblock main_content %}
