{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/animate.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/timeline.css" />
{% endblock extra_head %}

{% block header_content %}
	<h1>{{ politician }}</h1>
{% endblock header_content %}

{% block main_content %}
	<br><br>
	<section>
		<div class="row">
			<div class="large-3 columns">
				{% include "includes/legislative_politician_detail_thumb.html" %}
			</div>
			<div class="large-9 columns">
				{% include "includes/legislative_politician_detail_summary.html" %}
			</div>
		</div>
	</section>
	<hr>
	<section>

		<div class="section-container tabs" data-section="tabs">
			<section>
				<p class="title" data-section-title>
					<a href="#panel_legislaturas">
						<i class="icon-book"></i> {% trans "Legislaturas" %}:
					</a>
				</p>
				<div class="content" data-section-content>
					<table style="width:100%">
						<thead>
							<tr>
								<th><i class="icon-book"></i> {% trans "Legislatura" %}</th>
								<th><i class="icon-home"></i> {% trans "Cámara" %}</th>
								<th><i class="icon-sitemap"></i> {% trans "Partido" %}</th>
								<th><i class="icon-group"></i> {% trans "Lema" %}</th>
							</tr>
						</thead>
						<tbody>
							{% for legislativepolitician in politician.legislatives.all %}
								<tr>
									<td><a href="{% url 'legislative_detail' legislativepolitician.legislative.roman_code %}">{{ legislativepolitician.legislative }}</a></td>
									<td>{{ legislativepolitician.house }}</td>
									<td><a href="{% url 'party_detail' legislativepolitician.party.name %}">{{ legislativepolitician.party }}</a></td>
									<td>{{ legislativepolitician.subparty|default:"n/d" }}</td>
								</tr>
							{% empty %}
								<tr>
									<td colspan="5">
										<i class="icon-info-sign"></i>{% trans "Error" %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</section>

			<section>
				<p class="title" data-section-title>
					<a href="#panel_biografia">
						<i class="icon-user"></i> {% trans "Biografía" %}:
					</a>
				</p>
				<div class="content" data-section-content>
					{% if politician.biography %}
						<p>
							{{ politician.biography|safe }}
						</p>
					{% else %}
						<p>
							<i class="icon-info-sign"></i>{% trans "Sin biografía" %}
						</p>
					{% endif %}
					<span class="radius secondary label">
						{% trans "Fuente" %}: <a href="{{ politician.profile_url }}">www.parlamento.gub.uy</a>
					</span>
				</div>
			</section>
			
			<section>
				<p class="title" data-section-title>
					<a href="#panel_actividades">
						<i class="icon-calendar"></i>  {% trans "Actividades" %}:
					</a>
				</p>
				<div class="content" data-section-content>
					{% if politician.action_politicians.all %}
						
						<ul>
							{% for activity in politician.action_politicians.all %}
								<li>
									<p>
										<table style="width:100%">
											<tr>
												<th>{% trans "Legislatura" %}: {{ activity.legislative }}</th>
												<th>{% trans "Sesion" %}: {{ activity.session }}</th>
											</tr>
											<tr>
												<td colspan="2"><b>{% trans "Texto" %}</b>: {{ activity.text }}</td>
											</tr>
										</table>
									</p>
								</li>
							{% empty %}
								<li>
									<p>
										{% trans "Sin actividad" %}
									</p>
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<p>
							{% trans "Sin actividad" %}
						</p>
					{% endif %}
				</div>
			</section>
			<section>
				<p class="title" data-section-title>
					<a href="#panel_viaticos">
						<i class="icon-money"></i> {% trans "Viáticos" %}:
					</a>
				</p>
				<div class="content" data-section-content>
					{% if politician.diem_politcians.all.0 %}
						<table style="width:100%">
							<thead>
								<tr>
									<th>{% trans "Evento" %}</th>
									<th>{% trans "Días" %}</th>
									<th>{% trans "Viáticos" %}</th>
									<th>{% trans "Devuelve" %}</th>
									<th>{% trans "Gastos" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for diem in politician.diem_politcians.all %}
								<tr>
									<td>{{ diem.event }}</td>
									<td>{{ diem.days }}</td>
									<td>U$S {{ diem.diem|default:"0" }}</td>
									<td>U$S {{ diem.report_refund|default:"0" }}</td>
									<td>
										{% if diem.diem > 0 %}
											{% if diem.report_rest %}
												U$S {{ diem.report_rest }}
											{% else %}
												<strong style="color: red">{% trans "Sin justificar" %}</strong>
											{% endif %}
										{% else %}
											U$S 0
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<p>
							{% trans "Sin viáticos" %}
						</p>
					{% endif %}
				</div>
			</section>
		</div>
	</section>
	<br><br>
{% endblock main_content %}
