{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/animate.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/timeline.css" />
{% endblock extra_head %}

{% block header_content %}
	<h1>{{ politician }}</h1>
{% endblock header_content %}

{% block main_content %}
	<br><br>
	<section>

		<div class="row">
			<div class="large-3 columns">
				<img src="{{ MEDIA_URL }}{{ politician.photo }}" alt="{{ politician }}">
			</div>
			<div class="large-9 columns">

				<ul>
					<li><i class="icon-envelope"></i> Email: <a href="mailto:{{ politician.email }}">{{ politician.email }}</a></li>
					{% if politician.twitter_user %}
						<li>
							<i class="icon-twitter"></i> Twitter:
							<a href="http://twitter.com/{{ politician.twitter_user }}">@{{ politician.twitter_user }}</a>
						</li>
					{% endif %}
					<li><i class="icon-sitemap"></i> Partido: {{ politician.get_current_party|default:"---" }}</li>
					<li><i class="icon-group"></i> Lema: {{ politician.get_current_subparty|default:"---" }}</li>
					<li><i class="icon-desktop"></i> Perfil: <a href="{{ politician.profile_url }}">parlamento.gub.uy</a></li>
					<li><i class=""></i> Departamento: {{ state|default:"---" }}</li>
					<li><i class=""></i> Camara: {{ house|default:"---" }}</li>
				</ul>

			</div>
		</div>
	</section>
	<section>
		<h2>{% trans "Actividades" %}:</h2>
		<ul>
			{% for activity in politician.action_politicians.all %}
				<li>
					<p>
						<table>
							<tr>
								<td><b>Legislatura</b>: {{ activity.legislative }}</td>
								<td><b>Sesion</b>: {{ activity.session }}</td>
							</tr>
							<tr>
								<td colspan="2"><b>Texto</b>: {{ activity.text }}</td>
							</tr>
						</table>
					</p>
				</li>
			{% empty %}
				<li>
					<p>
						Sin actividad
					</p>
				</li>
			{% endfor %}
		</ul>
	</section>
	<br><br>
{% endblock main_content %}
