{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/animate.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/timeline.css" />
{% endblock extra_head %}

{% block header_content %}
	<h1>{% trans "Poder Legislativo" %} <i class="icon-double-angle-right"></i> {% trans "Políticos" %}</h1>
{% endblock header_content %}

{% block main_content %}
	<br><br>



<div class="section-container tabs" data-section="tabs">
	<section>
		<p class="title" data-section-title><a href="#">{% trans "Senadores" %}</a></p>
		<div class="content" data-section-content>

			<div class="row">
				<div class="large-12 columns end timeline-wrapper">
					<ul class="timeline">
						{% for legislative_politician in senators_list %}

						    <li class="event">
						        <input type="radio" name="tl-group" checked/>
						        <label></label>
						        <div class="thumb user" style="background-image: url('{{ MEDIA_URL }}{{ legislative_politician.politician.photo }}')">
						        	<!-- span>{{ legislative_politician.politician }}</span -->
						        </div>
						        <div class="event-content-perspective">
						            <div class="event-content">
						                <div class="event-content-inner">
						                    <h3>
						                    	<a class="expand_politician_profile" href="#"><i class="icon-angle-right"></i> {{ legislative_politician.politician }}</a>
						                    </h3>
						                    <div>
						                    	<ul>
						                    		<li><i class="icon-envelope"></i> Email: <a href="mailto:{{ legislative_politician.politician.email }}">{{ legislative_politician.politician.email }}</a></li>
						                    		{% if legislative_politician.politician.twitter_user %}
						                    			<li>
						                    				<i class="icon-twitter"></i> Twitter:
						                    				<a href="http://twitter.com/{{ legislative_politician.politician.twitter_user }}">@{{ legislative_politician.politician.twitter_user }}</a>
						                    			</li>
						                    		{% endif %}
						                    		<li><i class="icon-sitemap"></i> Partido: {{ legislative_politician.politician.get_current_party|default:"---" }}</li>
						                    		<li><i class="icon-group"></i> Lema: {{ legislative_politician.politician.get_current_subparty|default:"---" }}</li>
						                    		<li><i class="icon-desktop"></i> Perfil: <a href="{{ legislative_politician.politician.profile_url }}">parlamento.gub.uy</a></li>
						                    	</ul>
						                    	<br>
						                    	<h6><a href="{% url 'legislative_politician_detail' legislative_politician.politician %}" class="small button round">{% trans "Ver más" %} <i class="icon-circle-arrow-right"></i></a> </h6>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#">{% trans "Diputados" %}</a></p>
		<div class="content" data-section-content>

			<div class="row">
				<div class="large-12 columns end timeline-wrapper">
					<ul class="timeline">
						{% for legislative_politician in deputies_list %}

						    <li class="event">
						        <input type="radio" name="tl-group" checked/>
						        <label></label>
						        <div class="thumb user" style="background-image: url('{{ MEDIA_URL }}{{ legislative_politician.politician.photo }}')">
						        	<!-- span>{{ legislative_politician.politician }}</span -->
						        </div>
						        <div class="event-content-perspective">
						            <div class="event-content">
						                <div class="event-content-inner">
						                    <h3>
						                    	<a class="expand_politician_profile" href="#"><i class="icon-angle-right"></i> {{ legislative_politician.politician }}</a>
						                    </h3>
						                    <div>
						                    	<ul>
						                    		<li><i class="icon-envelope"></i> Email: <a href="mailto:{{ legislative_politician.politician.email }}">{{ legislative_politician.politician.email }}</a></li>
						                    		{% if legislative_politician.politician.twitter_user %}
						                    			<li>
						                    				<i class="icon-twitter"></i> Twitter:
						                    				<a href="http://twitter.com/{{ legislative_politician.politician.twitter_user }}">@{{ legislative_politician.politician.twitter_user }}</a>
						                    			</li>
						                    		{% endif %}
						                    		<li><i class="icon-sitemap"></i> Partido: {{ legislative_politician.politician.get_current_party|default:"---" }}</li>
						                    		<li><i class="icon-group"></i> Lema: {{ legislative_politician.politician.get_current_subparty|default:"---" }}</li>
						                    		<li><i class="icon-desktop"></i> Perfil: <a href="{{ legislative_politician.politician.profile_url }}">parlamento.gub.uy</a></li>
						                    	</ul>
						                    	<br>
						                    	<h6><a href="{% url 'legislative_politician_detail' legislative_politician.politician %}" class="small button round">{% trans "Ver más" %} <i class="icon-circle-arrow-right"></i></a> </h6>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
</section>
</div>
{% endblock main_content %}

{% block extra_js %}
	<script type="text/javascript">
		$('.expand_politician_profile').on('click', function (event) {
			event.preventDefault();
			var title_anchor = $(this);
			var right_arrow = title_anchor.find('i.icon-angle-right');
			var down_arrow = title_anchor.find('i.icon-angle-down');
			var radiobtn = title_anchor.closest('li.event').find('input[name="tl-group"]');

			if (right_arrow.size() > 0) {
				radiobtn.attr('checked',true).click();
				right_arrow.removeClass('icon-angle-right').addClass('icon-angle-down');
				$('.expand_politician_profile').not(title_anchor).find('i').removeClass('icon-angle-down').addClass('icon-angle-right');
			} else {
				if (down_arrow) {
					radiobtn.removeAttr('checked');
					down_arrow.removeClass('icon-angle-down').addClass('icon-angle-right');
				}
			}

			//console.log('done! this:', this);
		});
	</script>
{% endblock extra_js %}
