{% load i18n %}
<section {% if forloop.first %} class="active" {% endif %}>
	<p class="title" data-section-title>
		<a href="#panel{{ forloop.counter }}">
			{% trans "Legislatura" %} {{ legislative }}
		</a>
	</p>
	<div class="content" data-section-content>
	  	<div class="row">
			<div class="large-4 columns">
			    <a href="{% url 'legislative_politician_list' legislative.roman_code %}">
			        <img src="{{ STATIC_URL }}img/politics.png" alt='{% trans "Politicos" %}' />
			        <h4>{% trans "Politicos" %}</h4>
			    </a>
			</div>
			<div class="large-4 columns">
			    <a href="#">
			        <img src="{{ STATIC_URL }}img/money.png" alt='{% trans "Remuneraciones" %}' />
			        <h4>{% trans "Remuneraciones" %}</h4>
			    </a>
			</div>
			<div class="large-4 columns">
			  <a href="#">
			        <img src="{{ STATIC_URL }}img/stats.png" alt='{% trans "Estadisticas" %}' />
			        <h4>{% trans "Estadisticas" %}</h4>
			    </a>
			</div>
	  	</div>
	</div>
</section>
