{% extends "base.html" %}
{% load i18n thumbnail %}
{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}css/animate.min.css" />
{% endblock extra_head %}

{% block header_content %}
	<h1>{% trans "Gobierno Nacional" %}</h1>
{% endblock header_content %}

{% block main_content %}
	<br><br>
	<div class="row">
		<div class="large-4 columns">
			<div class="dashboard_item">
				<a href="{% url 'legislative_list' %}">
					{% thumbnail "img/dashboard/poder_legislativo.jpg" "400x400" crop="center" as im %}
					    <img class="dashboard_item_icon" src="{{ im.url }}" alt='{% trans "Gobierno Nacional" %}'>
					{% endthumbnail %}
		  			<h4>{% trans "Poder Legislativo" %}</h4>
				</a>
			</div>
		</div>

	    <div class="large-4 columns">
	    	<div class="dashboard_item">
		      	<a href="{% url 'legislative_list' %}">
		  			{% thumbnail "img/dashboard/poder_ejecutivo.jpg" "400x400" crop="center" as im %}
					    <img class="dashboard_item_icon" src="{{ im.url }}" alt='{% trans "Poder Ejecutivo" %}'>
					{% endthumbnail %}
		  			<h4>{% trans "Poder Ejecutivo" %}</h4>
				</a>
			</div>
	    </div>

	    <div class="large-4 columns">
			<div class="dashboard_item">
		      	<a href="{% url 'legislative_list' %}">
			      	{% thumbnail "img/dashboard/poder_judicial.jpg" "400x400" crop="center" as im %}
					    <img class="dashboard_item_icon" src="{{ im.url }}" alt='{% trans "Poder Judicial" %}'>
					{% endthumbnail %}
			  		<h4>{% trans "Poder Judicial" %}</h4>
				</a>
			</div>
	    </div>
	</div>
{% endblock main_content %}
