{% extends "base.html" %}
{% load i18n %}
{% block header_content %}
    <h1>{% trans "Sesiones" %}</h1>
{% endblock header_content %}

{% block main_content %}
<br>
<form>
  <fieldset>
    <legend><a id="filter_action_1" href="#"><i class="icon icon-search"></i> {% trans "Filtros" %}: </a></legend>
    <div id="filter_area_1" class="row">
      <div class="large-12 columns">
		<label>{% trans "Por legislatura" %}:</label>
		<ul class="button-group">
			{% for leg_code in legislatives_code_set %}
		  		<li><a href="{% url 'session_list_by_legis' leg_code %}" class="small button">{{ leg_code }}</a></li>
			{% endfor %}
		</ul>
	  	<label>{% trans "Por año" %}:</label>
		<ul class="button-group">
			{% for leg_year in legislative_year_set %}
		  		<li><a href="?year={{ leg_year }}" class="small button">{{ leg_year }}</a></li>
			{% endfor %}
		</ul>
      </div>
    </div>
  </fieldset>
</form>
<h4>{% trans "Elija una sesión para ver el detalle" %}:</h4>
<div class="section-container tabs" data-section="tabs">
	{% for house in house_sessions %}
		<section>
			<p class="title" data-section-title>
				<a href="#panel_camara_{{ forloop.counter }}">
					<i class="icon-home"></i> {% trans "Cámara" %}: {{ house.house_name }}
				</a>
			</p>
			<div class="content" data-slug="tab-{{ forloop.counter }}">

				{% with house.sessions as session_list %}
					{% if session_list %}
										
					<div class="section-container accordion" data-section="accordion">
						{% for session in session_list %}
					            {% include "session_detail.html" %}
					    {% endfor %}
					</div>
					{% else %}
						<p><i class="icon icon-info-sign"></i> {% trans "No hay sesiones para esta Camara" %}</p>
					{% endif %}				

				{% endwith %}
			</div>
		</section>
	{% endfor %}
</div>

{% endblock main_content %}
{% block extra_js %}
	<script type="text/javascript">
		$(function () {
			$('#filter_action_1').click(function(){
				$('#filter_area_1').toggle()
			});
		});
	</script>
{% endblock extra_js %}