{% extends "base.html" %}
{% load i18n %}
{% block header_content %}
    <h1>{% trans "Sesiones" %}</h1>
{% endblock header_content %}

{% block main_content %}
<br>
<h4>{% trans "Elija una sesión para ver el detalle" %}:</h4>
<br>


<div class="section-container tabs" data-section="tabs">
	{% for house in house_sessions %}
		<section>
			<p class="title" data-section-title>
				<a href="#panel_camara_{{ forloop.counter }}">
					<i class="icon-home"></i> {% trans "Cámara" %}: {{ house.house_name }}
				</a>
			</p>
			<div class="content" data-slug="tab-{{ forloop.counter }}">

				{% with house.sessions as session_list %}
					{% if session_list %}
										
					<div class="section-container accordion" data-section="accordion">
						{% for session in session_list %}
					            {% include "session_detail.html" %}
					    {% endfor %}
					</div>
					{% else %}
						<p><i class="icon icon-info-sign"></i> {% trans "No hay sesiones para esta Camara" %}</p>
					{% endif %}				

				{% endwith %}
			</div>
		</section>
	{% endfor %}
</div>

{% endblock main_content %}
