body{
	background: none repeat scroll 0 0 white;
    color: #222222;
    font-family: "Open Sans", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
}
.full_width {
	width: 100%;
}
.top-bar-section .dropdown li a {
	padding-top: 15px;
}
#header {
	background-color: #2BA6CB;
	color: #ffffff;
}
#header h1 {
	font-family: "Open Sans", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif; 
	color: #ffffff;
}
.dashboard_item_icon { box-shadow: 0 0 20px #000; }

/*  LEGISLATIVE OPTIONS */
.legislature_opt_row {
	margin-top: 20px;
}
.legislature_opt_row_item_icon {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.legislature_opt_row_item_title {
	text-align: center;
}
.icon-partially-muted { color: #D5D5D5;}