<!-- Footer -->
    <footer class="row" style="background-color: #ccc;" >
        <div class="large-12 columns"><hr />
          <div class="row">

            <div class="large-6 columns">
              <h3>PoliWall {% now "Y" %}</h3>
              <p>
                Este proyecto es participante del:<br>
                <a href="http://www.od4d.org/en/">CONCURSO SOFTWARES PARA DATOS ABIERTOS</a>.
              </p>
              
            </div>

            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="mailto:polidatos@gmail.com"><i class="icon-envelope icon-2x"></i></a></li>
                <li><a href="https://twitter.com/PolidatosUY"><i class="icon-twitter icon-2x"></i></a></li>
                <li><a href="https://www.facebook.com/PolidatosUy"><i class="icon-facebook-sign icon-2x"></i></a></li>
                <li><a href="https://github.com/jfunez/poliwall"><i class="icon-github icon-2x"></i></a></li>
              </ul>
            </div>
            <div class="large-6 columns right">
              <ul class="inline-list right">
                <li><a href="http://www.od4d.org/es/">OD4D</a></li>
                <li>
                    <a href="http://www.w3c.br/">
                      W3C Brasil
                    </a>
                </li>
                <li>
                    <a href="http://www.eclac.org/">
                      CEPAL
                    </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
    </footer>
<!-- End Footer -->