{% load i18n %}
<!-- Navigation -->
<div class="fixed">
    <nav class="top-bar">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name"><h1><a href="#">PoliWall</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
 
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">{% trans "Gobierno" %}</a>
              <ul class="dropdown">
                <li><a href="{% url 'gob_nacional' %}">{% trans "Gob. Nacional" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'gob_nacional' %}">{% trans "Gob. Departamental" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'home' %}">{% trans "Ver todo" %} &rarr;</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><a href="#">Main Item 2</a></li>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">Main Item 3</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Option</a></li>
                <li><a href="#">Dropdown Option</a></li>
                <li><a href="#">Dropdown Option</a></li>
                <li class="divider"></li>
                <li><a href="#">See all &rarr;</a></li>
              </ul>
            </li>
            {% if user.is_authenticated %}
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">
                    {{ user.username}}
                  </a>
                  <ul class="dropdown">
                    <li><a href="/admin/">Admin</a></li>
                    <li><a href="/admin/logout/">Logout</a></li>
                  </ul> 
                </li>
            {% else %}
              <li class="divider"></li>
              <li><a href="/admin/">Login</a></li>
            {% endif %}
          </ul>
        </section>
        <!-- End Top Bar -->
    </nav>
    <!-- End Navigation -->
</div>